<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/app.css"> -->
    <title>Currency Exchange</title>
</head>
<body>
    <form action="/currency" class="user_input">
        <div>
            <label for="convert_from">Converting from </label>
            <input type="text" name="convert_from" placeholder="USD">
        </div>
        <div>
            <label for="convert_to">Converting to </label>
            <input type="text" name="convert_to" placeholder="EUR">
        </div>
        <div>
            <label for="money_amount">Amount: </label>
            <input type="text" name="money_amount" placeholder="enter amount">
        </div>
        <div>
            <button type="submit" id="convert_button">Convert</button>
        </div>
    </form>
    <h2>
        <div>
            Conversion result:
        </div>
        <div>
            {% for msg in get_flashed_messages() %}
            <p>{{msg}}</p>
            {% endfor %}
        </div>
        <p>
            {{convert_from_symbol}} {{money_amount_input}} {{convert_from_name}} {{convert_to_name}} {{converted_amount}}
        </p>
        <p>
            {{codes_list}}
        </p>
    </h2>
</body>
</html>